.home-page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom:2rem;
}

.home-page__header{
    margin: 1em;
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.home-page__subheader {
    margin: 1em;
    color: #FF521B;
    font-family: 'Kanit', sans-serif;
}

.home-page__description {
    max-width: 80vw;
}

.home-page__paragraph {
    text-align: justify;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
.home-page__image {
    width: 80vw;
}
.carousel-outer {
    z-index: 1 !important;
    margin-top: 0rem;
    width: 100vw !important;
    height: 20rem !important;
}

.carousel-inner {
    width: 100vw !important;
    height: 20rem !important;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.carousel-title-container{
    background-color: rgba(255, 180, 146, 0.85);
}

.carousel-title{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #FF521B;
}

.carousel-title__sub{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.73);
}

.carousel-image{
    height: 20rem !important;
    object-fit: cover !important;
}
.home-page__list-item{
    font-family: 'Kanit', sans-serif;
}
@media only screen and (min-width: 680px) {
    .carousel-outer {
        width: 100vw !important;
        height: 20rem !important;
    }
    .carousel-inner {
        width: 100vw !important;
        height: 100% !important;
    }
}