.contact-page-container{
    width:60%;
    min-height:65Vh;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom:30px;
}

.contact-page-header {
    text-align: center;
}
.contact-page-text{
    display:flex;
    justify-content: center;
}
.contact-page{
    display:flex;
    flex-direction: column;
}
.contact-page input{
    height:2rem;
    margin:5px;
    box-shadow: 0 0 3px #000000;
    border:1px solid #00000070;
    font-size:18px;
    border-radius:5px;
}
label{
    font-size: larger;
    margin:5px;
    font-size:18px;
}
.contact-page-button{
    margin-top:1rem;
    display:flex;
    justify-content: center;
}
.contact-page-textarea{
    border:1px solid #00000070;
    box-shadow: 0 0 3px #000000;
    font-size:18px;
    border-radius:5px;
}
.contact-page-submit{
    background-color: #FF521B;
    color: white;
    width:200px;
    box-shadow: 0 0 5px #000000;
    border: 1px solid #FF521B;
    border-radius: 10px;
    margin:0 auto;
}