.contact-page-container{
    width:80%;
    min-height:65Vh;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom:30px;
}

.contact-page-header {
    text-align: center;
}
.contact-page-text{
    display:flex;
    justify-content: center;
}
.contact-page__header{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact-page__headertext{
   font-family: 'Kanit', sans-serif; 
}
.contact-page__textinfo{
    margin-top:1rem;
    font-family: 'Kanit', sans-serif;
}
.contact-page{
    display:flex;
    flex-direction: column;
}
.contact-page input{
    height:2rem;
    margin:5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size:18px;
    border-radius:5px;
}
label{
    font-size: larger;
    margin:5px;
    font-size:18px;
}
.contact-page-button{
    margin-top:1rem;
    height:70px;
    display:flex;
    justify-content: center;
}
.contact-page-textarea{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size:18px;
    border-radius:5px;
}
.contact-page-submit{
    background-color: #FF521B;
    color: white;
    width:200px;
    box-shadow: 0 0 5px #000000;
    border-radius: 10px;
    margin:0 auto;
    background-color: #2ea44f;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}