.footer-container{
    min-height:10vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF521B10;
}
.footer-container__icon{
    margin-right:3rem;
    margin-bottom:1rem;
    font-size:2rem;
}
.footer-container__middle {
    display:none !important;
}

.footer-container__right {
    display:none !important;
}

.footer-container__contacttext {
    display:none !important;
}

@media only screen and (min-width: 680px) {
    .footer-container{
        min-height:10vh;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FF521B10;
    }
    .footer-container__icon{
        margin-right:3rem;
        margin-bottom:1rem;
        font-size:2rem;
    }
    .footer-container__middle {
        display:flex !important;
    }

    .footer-container__right {
        display:flex !important;
    }

    .footer-container__contacttext {
        display:block !important;
    }

}