.add-toy-page__background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-toy__page {
    background-color: #ffffff15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
}

.add-toy__container {
    width: 90vw;
    position: relative;
    height: auto;
    background-color: #ffffff99;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;  
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}   
.dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.image-upload-input{
    margin-left: 5rem;
}

.add-toy-header{
    margin-left: 2rem;
}


.add-toy-dropdown{
    width: 30vw;
}


.add-toy__orange-button {
    margin-top: 1rem;
    background-color: #FF521B !important;
    border-color: #FF521B !important;
    box-shadow: 0px 0px 5px black;
}



@media screen and (min-width: 680px) {
    .add-toy-page__background{
        background-image: url("../../HomePagePic1.svg");
    }
    .add-toy__page {
        background-color: #ffffff50;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 90vh;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .add-toy__container {
        font-size: large;
        background-color: #ffffff99;
        height: 90vh;
        width: 40vw;
        justify-content: space-around;
        align-items: center;
    }
    
    .add-toy-label{
        
    }


    
    .add-toy-dropdown{
        width: 10rem;
    }
    .mb-3 {
    }
}

