
.toy__page__background {
    background-image: url("../../HomePagePic1.svg");
}
.toy__page__background__dim {
   background-color: #ffffff85;
}

.toy__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toy__search__filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toy__filter__container{
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: space-around;
}

.toy__filter__button{
    background-color: #FF521B !important;
    color: white !important;
    border: none !important;
}

@media screen and (min-width:700px) {
    .toy__list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:1100px) {
    .toy__list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}