* {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin: 0;
}

.toy-details__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
}

.toy-details__top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.toy-details__text {
    align-items: flex-start !important;
    font-size: 12px !important;
}

.toy-details__back-button_row{
    display: flex !important;
    width: 7.5rem !important;
    margin-bottom: 1rem;
}

.location {
    flex-direction: row;
    display: flex;
}

.toy-details__status {
    display: flex;
}
.toy-details__status-blob {
    margin-top: 6px;
    margin-left: 5px;
    background-color: limegreen;
    width: 10px;
    height: 10px;
    color: limegreen;
    border-radius: 5px;
}

.toy-details__header {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.2em;
}

.toy-details__rating {
    
}

.blob__available{
    background-color: limegreen;
}

.blob__reserved{
    background-color: grey;
}

.blob__unavailable{
    background-color: red;
}

.btn-hidden{
    visibility: hidden;
    display: none !important;
}

.toy-details__back-button {
    width: 8rem !important;
    margin-bottom: 1rem;
    background-color: #FF521B !important;
    padding: 0 !important;
}

.btn-reserved{
    background-color: lightgray !important;
    border: none !important;
    color: black !important;
    pointer-events: none;
}

.btn-unavailable{
    background-color: rgba(255, 0, 0, 0.48) !important;
    pointer-events: none;
}

.status__available{
    color: green;
}

.status__reserved{
    color: grey;
}

.status__reserved::after{
    color: grey;
}

.status__unavailable{
    color: red;
}

.toy-details__image {
    height: 100%;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}

.toy-details__bottom-text {
    font-size: small;
}

.toy-details__bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.toy-owner-row{
    padding-top: 2rem;
}



.toy-details__go-location {
    color: limegreen;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4::-webkit-details-marker {
    display: none;
}

.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

@media only screen and (min-width: 680px) {
    .toy-details__top {
        justify-content: left;
        align-items: flex-start;
        width:100%;
    }
    
    .toy-details__image {
        margin-left: 5rem;
        width: 60%;
        height: 40%;
        border-radius: 7px;
    }
    
    .toy-details__text {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: x-large;
    }
    .toy-details__bottom {
        margin-left: 5rem;
    }
    
    
}
